.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Añadir espacio entre el logo y los enlaces */
  background-color: #EDEFEE;
  padding: 20px 40px;
}

.logo {
  height: 6.25rem;
  width: 22.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 15px;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  background-color: #4caf50; /* Color de fondo de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Ajustar el espacio interno */
  transition: background-color 0.3s ease; /* Agregar transición al color de fondo */

  /* Centrar verticalmente */
  display: flex;
  align-items: center;
}

.nav-list a:hover {
  background-color: #45a049;
  /* Cambiar color de fondo al pasar el ratón por encima */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambiar a dirección de columna en dispositivos móviles */
    text-align: center; /* Centrar texto en dispositivos móviles */
  }

  .nav-list {
    margin-top: 15px; /* Espacio superior en dispositivos móviles */
  }

  .nav-list li {
    margin: 0; /* Eliminar el margen derecho en dispositivos móviles */
  }
}